<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caption This</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<style>
    .container  {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .container .row {
        margin: 0 auto;
    }
</style>

<body>

<div class="container" id="result">
    <div class="row valign-wrapper">
        <div class="col s6 offset-s3 valign">
            <div class="card">
                <div class="card-image">
                    <img src="{{url_for('static', filename='place.png')}}">
                </div>
                <div class="card-content">
                    <p>Upload a photo, let us find you a good caption and hashtags</p>
                </div>
                <div class="card-action">
                    <form action="http://0.0.0.0:5000/display" method = "POST" enctype = "multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <div class="btn">
                                <span>Submit</span>
                                <input type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<form action = "http://0.0.0.0:5000/display" method = "POST" enctype = "multipart/form-data">-->
    <!--<input type = "file" name = "file" />-->
    <!--<input type = "submit"/>-->
<!--</form>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>